

.btn-toolbar .btn.btn-primary:active, .btn-toolbar .btn.btn-primary.active {
    background-color: #1f2c35 !important;
}

.navbar-light .navbar-brand {
    font-weight: bold;
    font-size: 1.2em;
    color: #2b2b2b;
    text-transform: uppercase;
}

.big-icon {
    font-size: 1.5rem;
}


h1 {
    font-size: 1.75rem;
}

body {
    font-size: .9rem;


.home-section {
        padding: 75px 0 75px 0;
    }
